.degreeTitle + span {
    background-color: rgba(255, 23, 68, 0.7);
    border-radius: 20px;
    display: inline-block;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 2px;
    margin-left: 5px;
    margin-top:5px;
    padding: 5px 15px;
    text-transform: uppercase;
}

.degreeClassification span {
    color: var(--primaryTextColorLight);
    background-color: var(--projectGreen);
    border-radius: 20px;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 2px;
    margin-left: 5px;
    padding: 5px 15px;
    text-transform: uppercase;
}

.degreeTitle {
    display: inline-block;
    margin-bottom: 0;
    margin-right: 5px;
}

.universityTitle {
    margin-bottom: 0px;
    font-family: 'Source Sans Pro', sans-serif;
}

.paragraphEmoji {
    margin-right: 10px;
    font-size: 30px;
}