@import "../CookieDisclaimer/index.css";

:root {
    font-family: 'Source Sans Pro', sans-serif;
}

.background {
    left: 0;
    right: 0;
    bottom: 0;
    height: 0;
    z-index: 6;
    display: flex;
    position: fixed;
    overflow: hidden;
    background: rgba(0,0,0,.288);
    box-sizing: border-box;
    justify-content: center;
    opacity: 0;
    height: 100%;
    transition: opacity .5s cubic-bezier(.35,.42,.15,1.15) .7s;

    &__loaded {
        opacity: 1;
    }

    &__closed {
        opacity: 0;
    }

    & h2, h3 {
        font-family: 'Source Sans Pro', sans-serif;
    }
}

.cross {
    background: url('./cross.svg');
    background-repeat: no-repeat;
    background-position: center;
    width: 25px;
    height: 25px;
    border: none;
    margin-left: 10px;
}

.overlayHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #F4D03F;
    padding: 20px;
    box-shadow: 0px 0px 4px 1px var(--primaryBorderColourLight);
}

.information {
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 10px 20px;
}

.information::-webkit-scrollbar {
    display: none;
}

.title {
    margin: 0;
    color: var(--cookie-disclaimer-text-colour);
}

.cookieDescription {
    font-size: 16px;
    margin-bottom: 10px;
    line-height: 2em;
}

.listOfCookies {
    padding-left: 25px;
}

.layout {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    overflow: hidden;
    position: relative;
    background-color: var(--primaryBackgroundLight);
    margin: 20px;
    box-shadow: 0px 0px 2px 1px var(--primaryBorderColourLight)
}

.text {
    color: var(--cookie-disclaimer-text-colour);
    font-size: var(--cookie-disclaimer-text-font-size);
}

.paragraph {
    text-align: justify;
}

.bodyFixed {
    position: fixed;
    left: 0;
    width: 100%;
    overflow-y: scroll;
}

@media (min-width: 767px) {
    .information {
        padding: 10px 40px;
    }
}