@import "../CookieDisclaimer/index.css";

.background {
    left: 0;
    right: 0;
    bottom: 0;
    height: 0;
    z-index: 6;
    display: flex;
    position: fixed;
    overflow: hidden;
    background: rgba(0,0,0,.288);
    box-sizing: border-box;
    justify-content: center;
    transition: height .5s cubic-bezier(.35,.42,.15,1.15) .7s;

    &__loaded {
        height: 100%;
    }

    &__closed {
        height: 0;
    }
}

.cross {
    background: url('./cross.svg');
    background-repeat: no-repeat;
    background-position: center;
    width: 25px;
    height: 25px;
    border: none;
    margin-left: 10px;
}

.overlayHeader {
    display: flex;
    margin-bottom: 15px;
    justify-content: space-between;
    align-items: center;
}

.information {
    flex-basis: 80%;
    overflow: scroll;
}

.information::-webkit-scrollbar {
    display: none;
}

.title {
    margin: 0;
}

.cookieDescription {
    font-size: 16px;
    margin-bottom: 10px;
    line-height: 2em;
}

.listOfCookies {
    padding-left: 25px;
}

.layout {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    padding: 20px;
    overflow: hidden;
    position: relative;
    background: #F4D03F;
    margin: 20px;
}

.text {
    color: var(--cookie-disclaimer-text-colour);
    font-size: var(--cookie-disclaimer-text-font-size);
}

@media (min-width: 0px) and (max-width: 767px) {
    .layout {
        overflow: scroll;
    }
  }