@import "../CookieDisclaimer/index.css";

.container {
    left: 0;
    right: 0;
    bottom: 0;
    height: 0;
    z-index: 2;
    display: flex;
    position: fixed;
    overflow: hidden;
    background: #F4D03F;
    box-sizing: border-box;
    justify-content: center;
    transition: height .5s cubic-bezier(.35,.42,.15,1.15) .7s;

    &__loaded {
        height: 100%;
    }

    &__closed {
        height: 0;
    }
}

.cross {
    background: url('./cross.svg');
    background-repeat: no-repeat;
    background-position: center;
    width: 30px;
    height: 30px;
    border: none;
    position: absolute;
    right: 0;
    top: 0;
    margin: 20px;

    &__loaded {
        position: fixed;
    }

    &__closed {
        position: absolute;
    }
}

.information {
    flex-basis: 80%;
}

.information::-webkit-scrollbar {
    display: none;
}

.title {
    margin-top: 0;
}

.cookieDescription {
    font-size: 16px;
    margin-bottom: 10px;
    line-height: 2em;
}

.listOfCookies {
    padding-left: 25px;
}

.layout {
    display: flex;
    justify-content: center;
    max-width: 800px;
    padding: 20px;
    overflow: scroll;
    position: relative;
}

.text {
    color: var(--cookie-disclaimer-text-colour);
    font-size: var(--cookie-disclaimer-text-font-size);
}