@import "./index.css";

[data-theme="DARK_THEME"] {
    --primaryBackground: #333;
    --primaryTextColor: #f8f8f8;
    --primaryBorderColour: #f8f8f8;
    --primaryBackgroundImage: linear-gradient(#333, #333);
    --spinnerTrailColour: rgba(248,248,248, 0.2)
}