/**************************************************************
PROJECT LEVEL STYLING 
**************************************************************/
@import "../../styles/lightTheme.css";
@import "../../styles/darkTheme.css";

/*******************************
General
*******************************/

* {
  -webkit-overflow-scrolling: touch;
}

$max-width: 850px;

body {
  margin: 0;
  padding: 0;
}

.app {
  padding-top: var(--headerHeight);
  color: var(--primaryTextColor);
  display: flex;
  flex-direction: column;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.2em;
  max-width: 100vw;
  min-height: calc(100vh - var(--headerHeight));
  overflow-x: hidden;
  align-items: center;
}

.main {
  display: flex;
  flex-grow: 1;
  max-width: $max-width;
}

h1 {
  font-family: 'Merriweather', serif;
  font-style: italic;
}

h2, h3 {
  font-family: 'Merriweather', serif;
  font-weight: 700;
  letter-spacing: 1px;
}

p, span, li {
  text-align: justify;
  line-height: 2em;
  font-size: 16px;
}

a {
  text-decoration: none;
  font-family: 'Source Sans Pro', sans-serif;
  color: var(--unvisitedLink);
}

/*******************************
flex
*******************************/
.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-row-reverse {
  display: flex;
  flex-direction: row-reverse;
}

.flexColumn {
  display: flex;
	flex-direction: column;
  margin: 10px 0px;
  max-width: 826px;
}

.flexCenter {
  align-items: center;
  justify-content: center;
}

@media (min-width: 0px) and (max-width: 767px) {
  .sectionTitle {
		font-size: 28px;
	}

  p, span, li {
    line-height: 1.5rem;
  }
}
