/**************************************************************
PROJECT LEVEL STYLING 
**************************************************************/
@import "../../styles/darkTheme.css";
@import "../../styles/lightTheme.css";

/*******************************
General
*******************************/
body {
  margin: 0;
	padding: 0;
	background-color: var(--primaryBackground);
}

.app {
  background-attachment: fixed;
  background-color: var(--primaryBackground);
  background-image: var(--primaryBackgroundImage);
  color: var(--primaryTextColor);
  display: flex;
  flex-direction: column;
  font-family: 'futura-pt', sans-serif;
  font-size: 1.2em;
  max-width: 100vw;
  min-height: 100vh;
}

.appContent {
	max-width: 100%;
	margin: 0;
  background: var(--primaryBackground);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

.cover-image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

h1 {
  font-family: 'futura-pt', sans-serif;
}

h2, h3 {
  font-family: 'futura-pt', sans-serif;
  font-weight: 900;
  letter-spacing: 1px;
}

p {
  line-height: 2em;
  font-size: 16px;
}

a {
  text-decoration: none;
  font-family: 'futura-pt', sans-serif;
  color: var(--unvisitedLink);
}

.sectionTitle {
  font-family: 'futura-pt', sans-serif;
  font-weight: 900;
  font-size: 3em;
  padding: .5em 0 .5em 0;
  margin: 0;
  text-align: center;
}


/*******************************
flex
*******************************/
.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-row-reverse {
  display: flex;
  flex-direction: row-reverse;
}

.flexColumn {
  display: flex;
	flex-direction: column;
	margin: 10px 30px;
}

.flexCenter {
  align-items: center;
  justify-content: center;
}

@media (min-width: 0px) and (max-width: 767px) {
  .sectionTitle {
		font-size: 28px;
	}
}

@media (min-width: 1024px) {
  .appContent {
		box-shadow: 8px 8px 0px #0b0a0a;
		border: 3px solid #0b0a0a;
		margin: 20px auto;
  }
}