:root {
    --marginRight: 35px;
    --borderWidth: 10px;
    --borderWidthDouble: var(--borderWidth) * 2;
}

.projectTile {
    background-color: var(--primaryBackgroundDark);
    max-width: calc((var(--pageContentMaxWidth)) - 40px - (var(--marginRight) * 2));

    margin: 20px var(--marginRight) 0px var(--marginRight);

    border-style: inset;
    border-width: var(--borderWidth);
    border-right-color: var(--projectGreen);
    border-bottom-color: var(--projectGreen);
    border-top-color: var(--projectGreen);
    border-left-color: var(--projectGreen);
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;

    padding: 20px;
    display: flex;
    min-height: 520px;
    flex-direction: column;
    justify-content: space-between;
    color: var(--primaryTextColorDark);
    box-shadow: 1px 1px 10px var(--primaryBorderColourLight);
}

.footer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: space-around;
}

.techHeader {
    margin: 20px 0px 0px 0px;
}

.techList {
    font-weight: 600;
}

.buttonLink {
    font-size: 14px;
    text-align: center;
    margin: 7px;
}

@media (min-width: 768px) {
    :root {
        --numberOfTiles: 2;
        --numberOfTilesMinusOne: 1;
    }

    .projectTile {
        max-width: calc((100% / 2) - (var(--borderWidthDouble) * var(--numberOfTilesMinusOne)) - var(--marginRight) - var(--borderWidth) - 15px);

        margin: 20px var(--marginRight) 0px 0px;

        &:nth-of-type(2n) {
            margin-right: 0px;
        }
    }
}

@media (min-width: 1024px) {
    :root {
        --numberOfTiles: 3;
        --numberOfTilesMinusOne: 2;
    }

    .projectTile {
        max-width: calc((100% / 3) - (var(--borderWidthDouble) * var(--numberOfTilesMinusOne)) - var(--marginRight) - var(--borderWidth));

        &:nth-of-type(2n) {
            margin-right: var(--marginRight);
        }

        &:nth-of-type(3n) {
            margin-right: 0px;
        }
    }
}
