:root {
    --iconSize: 25px;
}

.displayBox {
    background: var(--primaryBackground);
    padding: 10px;
    max-height: 250px;
    overflow: hidden;
    position: relative;
    flex-shrink: 0;
    box-shadow: 0px 3px 6px var(--primaryBorderColour);
    border-radius: 5px;
}

.borderAndBoxShadowCube {
    border: 3px solid var(--primaryBorderColour);
    box-shadow: 8px 8px 0px var(--primaryBorderColour);
    -webkit-box-shadow: 8px 8px 0px var(--primaryBorderColour);
    -moz-box-shadow: 8px 8px 0px var(--primaryBorderColour);
}

.blurBottom {
    &:after {
        content: "";
        position: absolute;
        z-index: 1;
        bottom: 0;
        left: 0;
        pointer-events: none;
        background-image: linear-gradient(to bottom, 
                        var(--sectionFadeColourFrom), 
                        var(--sectionFadeColourTo) 90%);
        width: 100%;
        height: 20%;
    }
}

.displayBoxExpanded {
    max-height: none;
}

.collapseExpand {
    margin: 5px 5px 5px auto;
    position: absolute;
    right: 0px;
    top: 0px;
    font-size: 30px;
    width: 35px;
    border: none;
    background: transparent;
    font-family: inherit;
    font-weight: 900;
    color: inherit;
}

.icon {
    fill: var(--primaryTextColor);
    width: var(--iconSize);
    height: var(--iconSize);

    transition-property: transform;
    transition-timing-function: ease;
    transition-duration: 0.5s;
    
    &:hover {
        transform: scale(1.2);
    }
}

.textContainer {
    padding: 5px;
    
    & > * {
        &:first-child {
            margin-right: var(--iconSize);
        }
    }
}

@media all and (min-width: 786px) {
    .landingBlurb {
        max-width: 800px;
    }

    .blurBottom {
        &:after {
            height: 30%;
        }
    }
}