.tileContainer {
    max-width: 826px;
    max-height: none;
    display: flex;
    overflow: hidden;
    justify-content: flex-start;
}

.tileOnScreen {
    transform: translateX(0%);
    transition: all 0.2s ease;
}

.removeBorder {
    box-shadow: none;
    border: none;
    box-sizing: border-box;
    width: 100%;
}

.offScreenTileRight {
    position: absolute;
    visibility: hidden;
    transform: translateX(110%);
    transition: all 0.2s ease;
}

.offScreenTileLeft {
    position: absolute;
    visibility: hidden;
    transform: translateX(-110%);
    transition: all 0.2s ease;
}

.buttonWrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;

    & button {
        padding: 15px;

        margin-right: 5px;

        &:last-child {
            margin-right: none;
        }
    }
}
