.tileContainer {
    max-height: none;
    display: flex;
    overflow: hidden;
    justify-content: flex-start;
}

.tileOnScreen {
    transform: translateX(0%);
    transition: all 0.2s ease;
}

.setWidth {
    box-sizing: border-box;
    width: 100%;
}

.offScreenTileRight {
    position: absolute;
    visibility: hidden;
    transform: translateX(110%);
    transition: all 0.2s ease;
}

.offScreenTileLeft {
    position: absolute;
    visibility: hidden;
    transform: translateX(-110%);
    transition: all 0.2s ease;
}

.arrowBtn {
    background-repeat: no-repeat;
    background-position: center;
    font-size: 50px;
    border: none;
    padding: 0;
    width: 50px;
    height: 50px;
    fill: var(--primaryBorderColour);
    transition-property: transform;
    transition-timing-function: ease;
    transition-duration: 0.5s;
    margin-right: 25px;

    &:last-child {
        margin-right: 0px;
    }

    &:not(.btnDisabled){
        &:hover {
            transform: scale(1.2);
        }
    }
}

.buttonWrapper {
    display: flex;
    justify-content: center;
    margin: 20px 0 30px 0;

    & .btnDisabled {
        opacity: 0.5;
    }
}
