@import "../../styles/darkTheme.css";
@import "../../styles/lightTheme.css";

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  
  100% {
    transform: rotate(360deg);
  }
}

.wrapper {
  margin: 10px 30px 10px 30px;
}

.loadingSpinner,
.loadingSpinner:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
  transition: opacity 1s;
}

.loadingSpinner {
  margin: 60px auto;
  font-size: 15px;
  position: relative;
  border-top: 10px solid var(--spinnerTrailColour);
  border-right: 10px solid var(--spinnerTrailColour);
  border-bottom: 10px solid var(--spinnerTrailColour);
  border-left: 10px solid var(--primaryBorderColour);
  transform: translateZ(0);
  animation: spin 1.5s infinite linear;
  
  &.hide {
    opacity: 0;
    &:after {
      display: none;
    }
  }
}

@media (min-width: 786px) {
  .wrapper {
    width: 826px;
  }
}