@import "../../styles/transitions.css";

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  
  100% {
    transform: rotate(360deg);
  }
}

.wrapper {
  margin: 10px 30px;
  display: flex;
  justify-content: center;
}

.loadingSpinner,
.loadingSpinner:after {
  border-radius: 50%;
  height: 10rem;
  transition: opacity var(--spinnerOpacityTransitionDuration);
  width: 10rem;
}

.loadingSpinner {
  animation: spin 1.5s infinite linear;
  border-bottom: 10px solid var(--spinnerTrailColour);
  border-left: 10px solid var(--primaryBorderColour);
  border-right: 10px solid var(--spinnerTrailColour);
  border-top: 10px solid var(--spinnerTrailColour);
  transform: translateZ(0);
  
  &.hide {
    opacity: 0;
    &:after {
      display: none;
    }
  }
}

@media (min-width: 786px) {
  .wrapper {
    width: 826px;
  }
}