@import "../../styles/darkTheme.css";
@import "../../styles/lightTheme.css";

.loadingSpinner,
.loadingSpinner:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}

.loadingSpinner {
  margin: 60px auto;
  font-size: 15px;
  position: relative;
  border-top: 10px solid var(--spinnerTrailColour);
  border-right: 10px solid var(--spinnerTrailColour);
  border-bottom: 10px solid var(--spinnerTrailColour);
  border-left: 10px solid var(--primaryBorderColour);
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.5s infinite linear;
  animation: load8 1.5s infinite linear;
}

@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}