.section {
    &Wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
        margin-top: 30px;
        background: var(--projectGreen);
    }

    &Container {
        padding: 30px 20px;
    }
}

.statement {
    color: var(--primaryTextColorLight);
    text-align: center;
    margin: 0 0 40px 0;
    font-size: 20px;
    font-family: 'Source Sans Pro', sans-serif;
}

.companyLogo {
    max-width: 140px;
    fill: var(--primaryTextColorLight);
}

.itvLogo {
    @extend .companyLogo;
    max-width: 130px;
}

.companyLogoWrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

@media (min-width: 0px) and (max-width: 425px) {
    .companyLogoWrapper {
        flex-direction: column;
    }

    .statement {
        font-size: 14px;
        margin: 0 0 30px 0;
    }

    .companyLogo {
        max-width: 100px;
        
        &:last-child {
            margin-top: 30px;
        }
    }

    .itvLogo {
        max-width: 100px;
    }
  }