.projectGrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 20px;
    max-width: 1600px;
}

@media (min-width: 768px) {
    .projectGrid {
        padding: 20px 30px;
    }
}

@media (min-width: 1024px) {
    .projectGrid {
        padding: 20px 50px;
    }
}
