.degreeTitle + span {
    background-color: rgba(255, 23, 68, 0.7);
    border-radius: 20px;
    display: inline-block;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 2px;
    margin-left: 5px;
    margin-top:5px;
    padding: 5px 15px;
    text-transform: uppercase;
}

.strikethroughJoke {
    text-decoration: #f42109 solid line-through;
    font-style: italic;
}

.degreeTitle, .jobRole {
    display: inline-block;
    margin-bottom: 0;
    margin-right: 5px;
}

.jobRole + h4 {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 2px;
    margin-top:5px;
    text-transform: uppercase;
}

.degreeClassification span {
    background-color: rgba(0, 200, 83, 0.7);
    border-radius: 20px;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 2px;
    margin-left: 5px;
    padding: 5px 15px;
    text-transform: uppercase;
}

.universityTitle, .companyTitle {
    margin-bottom: 0px;
}

.contactIcons {
    line-height: 50px;
    height: 50px;
}

.contactDetail {
    display: inline-block;
    margin: 0 5px 0 auto;
}

.paragraphEmoji {
    margin-right: 10px;
    font-size: 30px;
}

.projectImages {
    display: flex;
}

.projectImage {
    flex-basis: 50%;
    margin: 0px 10px 10px 0px;
}

.lastProjectImage {
    margin-right: 0;
}

.projectImage img {
    width: 100%;
    height: auto;
    box-shadow: 1px 1px 4px var(--primaryBorderColour);
}

@media (min-width: 786px) {
    .projectImages {
        flex-wrap: wrap;
    }

    .projectImage {
        flex-basis: 100%;
        margin: 10px 0px 0px 0px;
        padding: 10px 15px;
    }

    .projectImage img {
        box-shadow: 5px 5px 0px var(--primaryBorderColour);
        border: 3px solid var(--primaryBorderColour)
    }

    .projectImage:first-child {
        margin: 0;
    }
}