.strikethroughJoke {
    text-decoration: #f42109 solid line-through;
    font-style: italic;
}

.paragraphEmoji {
    margin-right: 10px;
    font-size: 30px;
}

.reasonsList {
    list-style-type: disc;
    padding-left: 20px;
}

.listOrderIndicator {
    margin-right: 10px;
    font-weight: 600;
}

.sectionContainer {
    display: block;
}