@import "../../styles/transitions.css";

@keyframes fadeIn {
    0% { 
        opacity: 0; 
    }
    100% { 
        opacity: 1; 
    }
}

.section {
    transition: visibility var(--sectionVisibilityTransitionDuration), opacity var(--sectionOpacityTransitionDuration);
    transition-delay: var(--spinnerOpacityTransitionDuration);
    opacity: 0;
    visibility: hidden;

    &.show {
        opacity: 1;
        visibility: visible;
      }
}

.tileContainer {
    display: flex;
    overflow-x: scroll;
    padding: 0px 20px 20px 0px;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    box-sizing: border-box;
    
    &:after {
        content: "a";
        display: block;
        visibility: hidden;
    }
}

.tileContainer > * {
    width: 90%;
    box-sizing: border-box;
    box-shadow: none;
}



@media all and (min-width: 786px) {
    .tileContainer {
        max-width: 800px;

        & > * {
            min-width: 600px
        }
    }
}