.socialLogo {
    height: 35px;
}

.socialContainer {
    display: flex;
    flex-direction: row;
    margin: 10px;
}

.socialLink {
    margin: auto 5px;
}

@media (min-width: 0px) and (max-width: 767px) {
    .socialContainer {
        flex-direction: column;
    }
  }