.socialLogo {
    height: 35px;
    width: 35px;
    fill: var(--primaryTextColorInverse);
    transition-property: transform;
    transition-timing-function: ease;
    transition-duration: 0.5s;
    
    &:hover {
        transform: scale(1.2);
    }


}

.socialContainer {
    display: flex;
    flex-direction: row;
    margin: 10px;
}

.socialLink {
    margin-right: 30px;
    &:last-child {
        margin-right: 0px;
    }
}

@media (min-width: 0px) and (max-width: 767px) {
    .socialContainer {
        flex-direction: column;
        flex-basis: 50%;
        align-items: flex-end;
    }

    .socialLink {
        margin-right: 0px;
        margin-bottom: 10px;
        &:last-child {
            margin-bottom: 0px;
        }
    }
  }