.footerDisclaimerText {
  color: var(--primaryTextColor);
  text-align: center;
}

.container {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  padding: 10px 0;
  font-size: 14px;
}

.link {
  font-weight: 700;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}
