.page {
    max-width: 100%;
    margin: 0 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}

@media (min-width: 1024px) {
    .page {
        margin: 20px 0px;
    }
}
